@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --main-color: #152c11;
  --secondary-color: #76be5d;
  --letter-color: white;
}

* {
  text-decoration: none;
  font-family: 'Encode Sans Condensed', sans-serif;

}
.show-shadow{
  box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.2);
}
h3{
  font-size: 30px;
  font-weight: 600;
  margin-top: 0;
}
.info{
  text-align: justify;
}
#icon-link{
  height: 30px;
}
#st-photo{
  margin-left: 5%;
  border-radius: 10px;
}
a{
  all: unset;
  cursor: pointer; 
}
#home-click{
  cursor: pointer;
}

