@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@600&family=Source+Code+Pro:wght@200&display=swap');

* {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

body{
  color:white;
  background-color: #152c11;
  margin: 100px auto auto auto;
  height: 3000px;
}

/* NAVIGATION BAR */
nav{
  background-color: #152c11;
  /* background-color: blueviolet; */
  position: fixed;
  top: 0;
  transition: 0.3s;

  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  font-weight: bold;

}
#nav-logo{
  margin-left: 50px;
  height: 100%;
}

nav a{
  all: unset;
  cursor: pointer; 
}
#side-left{
  position: fixed;
  align-items: center;
  justify-content: center;
  /* background-color: pink; */
  top: 380px;
  left: 70px;
  width: 50px;
  height: 200px;
}
#st-links{
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 10px;
}
#side-right{
  position: fixed;
  background-color: pink;
  top: 400px;
  right: 40px;
  width: 80px;
  height: 200px;
}


.show-shadow{
  box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.2);
}
#categories{
  list-style: none;
  display: flex;
  gap: 25px;
  margin-left: auto;
  margin-right: 50px;
}

/* CONTENT */
#content{
  max-width: 900px;
  margin: auto;
  height: 450px;
}
#home-h6{
  color: #76be5d;
  font-family: 'Source Code Pro', monospace;
  font-size: 15px;
  margin: 0;
}
#home-name{
  color: white;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size: 70px;
  margin: 0;
}
#home-p{
  color: #76be5d;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size: 70px;
  margin: 0;
}
